{% extends "base.html" %}

{% block content %}

<!-- Needed for padding at top of body, to look more like Bootstrap's example -->
<br>

<div class="uk-container uk-container-center">
    <h1>SFX events</h1>
    <p>Rejoice, for here be events!</p>
    <p>Much events, such wow</p>
    <p>many fun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; such tickets</p>
    <p>many fun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; such tickets</p>
    <p>many fun&nbsp;&nbsp;&nbsp;&nbsp; such tickets</p>
    <p>many fun&nbsp;&nbsp;&nbsp;&nbsp; such tickets</p>
    <p>many fun&nbsp;&nbsp;&nbsp;&nbsp; such tickets</p>
    <p>many fun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; such tickets</p>
    <p>many fun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; such tickets</p>
    <p>many fun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; such tickets</p>
</div>
{% endblock %}
